<h1>New spiel</h1>

<% form_for(@spiel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', spiels_path %>